@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* common style start  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: 1200px;
}
/* margin  */
.mx-auto {
    margin: 0 auto;
}
.mt-12{
    margin-top: 12px;
}
.mt-20{
    margin-top: 20px;
}

/* text-color  */
.text-primary {
    color: #A554E6;
}

/* text part  */

.text-center {
    text-align: center;
}

.text-18 {
    font-size: 18px;
}

.text-20 {
    font-size: 20px;
}

.text-48 {
    font-size: 48px;
}

/* font-part  */
.text-bold {
    font-weight: 700;
}
.text-medium{
    font-weight: 500;
}

/* flex part  */

.flex {
    display: flex;
}

.justify-between {
    /* display: flex; */
    justify-content: space-between;
}
.items-center{
    /* display: flex; */
    align-items: center;
}

/* grid part  */

.grid {
    display: grid;
}

.btn {
    padding: 8px 27px;
    border-radius: 24px;
    font-size: 18px;
    border: 1px solid gray;
}

/* button part  */
.btn-primary {
    background-color: #B564F7;
    color: white;
    border: none
}

.btn-secondary {
    color: #B262F3;
    border-color: #B262F3;
}

/* common style end  */
/* navbar styles  */
nav{
    padding: 16px 0;
}
nav > ul{
list-style: none;
gap:32px
}
nav > .btn-box{
    display: flex;
    gap: 12px;
}
/* banner styles  */
/* banner left content box  */
.banner-section{
    background-color: #F5F5F5;
    padding: 60px 0px;
}
.banner-tagline{
    padding: 8px 12px;
    background-color: white;
    border-radius: 18px;
}
.banner-tagline > i{
margin-right: 15px;
font-size: 15px;
}
.banner-container{
    gap:28px
}
.banner-btn-box{
    gap: 24px;
    margin-top: 28px;
}
/* banner img box  */
.banner-img-box{
    gap:20px
}
.banner-img-box img{
    width: 295px;

}
.banner-social-platform-container{
    display: flex;
    justify-content: end;
    margin-top: 30px;
}
.banner-social-platform-container > div{
padding: 20px 24px;
border-radius: 18px;
background-color: white;
display: inline-block;
}
.social-platform-logo-box{
    display: flex;
    justify-content: end;
    margin-top: 12px;
}
.social-platform-logo-box {
    display: flex;
    text-align: end;
    gap: 32px;
}