@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* common style start  */
* {
    margin: 0;
    padding: 0;
}

.none {
    display: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.bg-primary {
    background-color: #F5F5F5;
}

.container {
    max-width: 1200px;
}

/* margin  */
.mx-auto {
    margin: 0 auto;
}

.mt {
    margin-top: 12px;
}

/* padding style  */
.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

/* text-color  */
.text-primary {
    color: #A554E6;
}

/* text part  */
.text-center {
    text-align: center;
}

.section-title {
    font-size: 48px;
}

/* font-part  */
.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

/* flex part  */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    /* display: flex; */
    justify-content: space-between;
}

/* width style  */
.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}


.items-center {
    /* display: flex; */
    align-items: center;
}

/* grid part  */

.grid {
    display: grid;
}

.btn {
    padding: 8px 27px;
    border-radius: 24px;
    font-size: 18px;
    border: 1px solid gray;
}

/* button part  */
.btn-primary {
    background-color: #B564F7;
    color: white;
    border: none
}

.btn-secondary {
    color: #B262F3;
    border-color: #B262F3;
}

/* common style end  */
/* navbar styles  */
nav {
    padding: 16px 0;
}

nav>ul {
    list-style: none;
    gap: 32px
}

nav>.btn-box {
    display: flex;
    gap: 12px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* banner styles  */
/* banner left content box  */
.banner-section {
    padding: 60px 0px;
}

.banner-tagline {
    padding: 8px 12px;
    background-color: white;
    border-radius: 18px;
}

.banner-tagline>i {
    margin-right: 15px;
    font-size: 15px;
}

.banner-container {
    gap: 28px
}

.banner-btn-box {
    gap: 24px;
    margin-top: 28px;
}


/* banner img box  */
.banner-img-box {
    gap: 20px
}

.banner-img-box img {
    max-width: 295px;
    /* width: 100%; */

}

.gradient-text {
    background: linear-gradient(to right, #3b0a75, #e289ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 40px; */
    /* font-weight: bold; */
}

.price {
    color: #d32f2f;
}

.banner-social-platform-container {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.banner-social-platform-container>div {
    padding: 20px 24px;
    border-radius: 18px;
    background-color: white;
    display: inline-block;
}

.social-platform-logo-box {
    display: flex;
    justify-content: end;
    margin-top: 12px;
}

.social-platform-logo-box {
    display: flex;
    text-align: end;
    gap: 32px;
}

/* our client section  */
.client-section {
    padding: 48px 0;
    background-color: white;
}

.client-section-container hr {
    gap: 72px;
    height: 100px;
}

.client-container-img {
    gap: 28px;
}

.client-count {
    font-size: 32px;
    font-weight: 800;
}

/* creative services section  */
.green-checkmark-sign {
    margin-right: 12px;
}

.creative-services-container-title {
    max-width: 770px;
}

.creative-services-container-content {
    margin-top: 48px;
    background-color: white;
    padding: 28px;
    border-radius: 18px;
}

.creative-services-container-content>div>hr {
    margin: 0 48px;
}

.creative-btn-box {
    margin-top: 48px;

}

/* feature part  */
.feature-title {
    font-size: 18px;
}

.features-heading {
    font-size: 24px;
}

.features-content {
    margin-top: 32px;
}

.features-content>*+* {
    margin-top: 24px;
}

.pricing-section>*+* {
    margin-top: 16px;
}

.pricing-box {
    border: 1px solid gray;
    padding: 24px;
    border-radius: 18px;
}

.pricing-box span {
    font-size: 12px;
    background-color: #475467;
    padding: 4px 12px;
    border-radius: 8px;
    color: white;
}

.pricing-title {
    margin-bottom: 12px;
}

/* Turn your raw video into engaging clip */
.engaging-clip-content {
    margin-top: 48px;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.engaging-clip-content img {
    margin: 24px 0px 20px 0;
}

.engaging-clip-card-title {
    font-size: 20px;
    font-weight: 500;
}

.engaging-clip-card {
    padding: 20px 24px;
    background-color: #fff;
    border-radius: 12px;
}

.social-media-clip-content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 31px;
    row-gap: 28px;
    margin-top: 48px;
}

.social-media-clip-content-card {
    padding: 12px 24px 24px 15px;
    border: 1px solid gray;
    border-radius: 18px;
}

.social-media-clip-content-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}


/* business vedio section  */
.video-card-container {
    gap: 24px;
    margin-top: 40px;
}

.vedio-category {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

/* short-vedio-section */
.short-vedio-section {
    padding: 40px 0;
    background-color: #fff;
}

.short-vedio-section-container {
    gap: 48px;
}

.short-video-section-text1 {
    margin-top: 20px;
}

.short-video-section-text2 {
    margin: 32px 0;
}

/* client stories section  */
.client-stories-section {
    padding: 190px 0;
}

.client-container {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}
.client-card{
    position: relative;
}
.client-card-top{
    position: absolute;
    transform: translate(66px, -76px);
    color: white;
}
.client-card-top .title{
font-size: 20px;
font-weight: 500;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 32px;
    gap: 24px;
}

.review-card-one,
.review-card-two {
    padding: 24px 37px;
    background-color: white;
    grid-column: span 6 / span 6;
    border-radius: 14px;
}

.review-card-three,
.review-card-four,
.review-card-five {
    grid-column: span 4 / span 4;
    background-color: white;
    border-radius: 14px;
    padding: 24px 37px;
}

.client-details {
    margin-bottom: 24px;
}

/* FAQ section  */
.faq-content-container {
    margin-top: 40px;
}

.faq-content-container>*+* {
    margin-top: 20px;
}

.faq-box {
    padding: 24px;
    background-color: white;
    border-radius: 8px;
}

.faq-question {
    font-size: 20px;
    font-weight: 500;
}

/* footer section  */
.footer {
    background: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.footer-section {
    flex: 1 1 220px;
    min-width: 220px;
}

.logo {
    margin-bottom: 32px;

}

.about p {
    margin: 15px 0;
    color: #555;
}

.footer-buttons {
    /* display: flex; */
    gap: 10px;
    margin-top: 32px;
}


.footer-section h4 {
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 6px;
    color: #333;
    cursor: pointer;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.contact-form textarea {
    resize: vertical;
    min-height: 60px;
}

.contact-form button {
    padding: 8px 20px;
    background: #222;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.footer hr {
    margin-top: 30px;
    border: none;
    border-top: 1px solid #ddd;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}